body {
	background: url('../img/design.jpg');
	height: 1750px;
}

#data-explorer {
	width: 994px;
	height: 818px;
	margin-left: 295px;
	margin-top: 536px;
	background: #DFE0E5;
	padding: 10px; 
}
#data-explorer .loader{ margin: 50px auto; display: block; width: 300px;}
#data-explorer .scroll {
	overflow: auto;
	overflow-y:hidden;
}
#data-explorer-content {
	height: 520px;
	width: 865px;
}
#data-explorer-xaxis { }
#data-explorer-yaxis {
	height: 520px;
	width: 105px;
	float: left;
}
#data-explorer-graph { margin-top :20px; padding: 10px; background: #F1F1F1;  border: 1px solid #bfbfbf;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
#data-explorer-menu { height: 100px; }
#data-explorer-menu h3 { margin: 0px; color: #47494b; }
#data-explorer-menu .section { width: 50%; float: left; }
#data-explorer-menu ul { margin: 0px; padding :0px; }
#data-explorer-menu li { float: left; list-style: none; width: 120px; cursor: pointer; text-align: center; background: #313234; border: 1px solid #2C3135; color: #FFF; padding: 5px;  margin: 5px;}
#data-explorer-menu li.active { background: #274A6A; }

svg rect.bar {
	fill: #274A6A;
	stroke: #47494b;
} 
svg rect.bar.active {
	fill: #ff0000;
} 
svg rect.column {
	fill: rgba(0,0,0,0);
} 
svg .axis path, svg .axis line {
    fill: none;
    stroke: #47494b;
    shape-rendering: crispEdges;
}
svg .axis path, svg .axis text {
    fill: none;
    stroke: #47494b;
    shape-rendering: crispEdges;
    font-size: 9pt;
}
svg text.xlabel {
	font-weight: bold;
}
svg text.ylabel {
    font-size: 20pt;
	font-weight: bold;
}
svg text.hoverlabel {
	font-weight: bold;
    font-size: 20pt;
}